---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// @import generates deprecation warning - instructs to use @use instead, but @use 
// runs at Sass compile time, before Jekyll's Liquid templating runs.
// @import runs at Jekyll build time, after Liquid templating runs.
// Deprecation warning is acceptable until Dart Sass removes @import in v3.0.0


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "kicker"; // custom kicker styles
@import "responsive-image"; // custom responsive image styles
@import "profiles"; // custom profile styles
