name: Ready
# This workflow is triggered by 'ready' branches

on:
  workflow_dispatch:
  push:
    branches:
      - "ready/**"

jobs:
  setup-and-run-precommit:
    name: Setup and run pre-commit
    permissions:
      contents: read
      statuses: write
    uses: ./.github/workflows/copilot-setup-steps.yml

  mark-pending:
    name: Pending
    permissions:
      statuses: write
      contents: read
    uses: lakruzz/workflows/.github/workflows/mark_pending.yml@experimental
    with:
      statuses: |
        jekyll:build

  prepare-image:
    name: Fetch or Build
    permissions:
      packages: write
    uses: lakruzz/workflows/.github/workflows/docker_with_cache.yml@experimental
    with:
      dockerfile: dockerfile
      hash-files: Gemfile.lock
      image-tag: docker-workflow-image

  jekyll-build:
    name: Jekyll Build
    needs:
      - prepare-image
      - mark-pending
    permissions:
      statuses: write
      contents: read
      packages: read
      actions: write
    uses: lakruzz/workflows/.github/workflows/rake_task.yml@experimental
    secrets:
      token: ${{ secrets.READY_PUSHER }}
    with:
      rake-task: jekyll:build
      image-fqdn: ${{ needs.prepare-image.outputs.image-fqdn }}
      upload-artifact: true

  mark-trunk-worthy:
    name: Trunk-worthy
    runs-on: ubuntu-latest
    permissions:
      statuses: write
      contents: read
    needs: 
      - jekyll-build
      - setup-and-run-precommit
    env:
      GITHUB_TOKEN: ${{ secrets.READY_PUSHER }}
    steps:
      - name: Mark trunk-worthy
        run: |
          set -e
          gh ext install lakruzz/gh-set-status
          gh set-status success "Is trunk-worthy" trunk-worthy

  merge-to-trunk:
    name: Merge to trunk
    needs:
      - mark-trunk-worthy
      - setup-and-run-precommit
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.READY_PUSHER }}

      - uses: lakruzz/workflows/actions/ready@experimental
        with:
          user_name: "Ready Pusher" #required
          user_email: "ready-pusher@devopsdays.dk" #required
          token: ${{ secrets.READY_PUSHER }} #required, must have the right permissions
          # target_branch: main #default is main
          # delete_dev_branch: true # default is true
          # delete_ready_branch: true # default is true
          # close_pr: true # default is true
          # close_issue: true # default is true
